<h1>Бронирование комнаты</h1>

<ul>
    <li><strong>Номер комнаты:</strong> {{roomId}}</li>
    <li><strong>Время бронирования:</strong> {{timeStart}} - {{timeEnd}}</li>
    <li><strong>Описание события:</strong> {{summaryEvent}}</li>
    <li><strong>ФИО:</strong> {{fio}}</li>
    <li><strong>Почта:</strong> {{email}}</li>
    <li><strong>Номер телефона:</strong> {{phoneNumber}}</li>
</ul>